@import '../../assets/styles/variables.scss';

.selected-product-page {
    width: calc(100% - ($MarginSmall * 2));
    padding: $MarginSmall;
}

.top-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.selected-product-content-wrapper {
    width: 70%;
}

.action-buy-item-wrapper {
    width: 30%;
}

.description-row {
    width: 100%;
    font-size: 16px;
    color: #555;
    padding: $MarginSmall 0;
}

h1 {
    font-size: $font28;
    font-family: sans-serif;
    margin: 0;
}